- @javascripts ||= []
- @stylesheets ||= ['content_editing']

= draw 'logo'

-#= draw 'search'

= draw 'breadcrumbs'

= draw 'personal'

= draw 'main_menu'

= draw 'sidebar'

= draw 'above_content'

%div#metadata
  %div.panel_section
    %h3 Properties
    = render :partial => 'shared/content/properties_panel'
  %div.panel_section
    %h3 Workflow
  %div.panel_section
    %h3 Tags
  %div.panel_section
    %h3 Versions

%div#content_form
  %div.panel_section
    %h3= f_method == :post ? "Adding New #{@content.class}" : "Editing #{@content.class}"

    = render :partial => 'shared/content/edit', :locals => { :f_method => f_method }

= draw 'footer'

-# important that this go last, so that required js/css are included
= draw 'header'
